torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
efficientnet_pytorch==0.7.1
inference_sdk==0.49.2
roboflow==1.1.63
scikit-learn==1.6.1
huggingface_hub==0.31.2
svgwrite==1.4.3
ultralytics==8.3.134
scikit-image==0.25.2
rfdetr==1.1.0
trimesh==4.6.9
shapely==2.1.0
logger==1.4.0
fastapi==0.115.12
ezdxf==1.4.1
CairoSVG==2.8.1
PyMuPDF==1.25.5
uvicorn==0.34.2
python-multipart==0.0.20
manifold3d==3.0.1
numpy==1.26.4
triangle